<navbar class="navbar-fixed"></navbar>
<main-hero></main-hero>
<section id="mission" class="container">
  <h2>Our Mission</h2>
  <p class="flow-text">We want to connect clients seeking legal representation with lawyers who want to fill the free hours in their days. People all over British Columbia are in need of competent, affordable legal representation. Many lawyers find that they have hours throughout their day that open up, that could be used for helping others. It's time we bridged the gap, and connected the people who need help with the people who are ready to help.</p>
</section>
<section id="about" class="container">
  <h2>Who We Are</h2>
  <p class="flow-text">We are a platform that seeks to provide a match-making service, to allow legal representatives and clients find shared time and work together to answer questions and better understand cases.</p>
</section>
<footer id="contact">
  <div class="row">
    <h6 class="col s4">Contact us!</h6>
    <address class="col s4">
      Justice Hack BC<br/>
      SFU Venture Labs<br/>
      Suite #1200<br/>
      555 West Hastings Street<br/>
      Vancouver, BC<br/>
      Canada V6B 4N6<br/>
    </address>
    <address class="col s4">
      Phone: 555-555-5555<br/>
      Email: <a href="mailto:mail@example.com">mail@example.com</a><br/>
    </address>
  </div>
  <div class="copyright">Copyright SeekLegal&copy;, 2018.</div>
</footer>
