<navbar class="navbar-fixed"></navbar>
<main-hero id="" class="scrollspy"></main-hero>
<section id="about" class="container scrollspy">
    <h2>Who We Are</h2>
    <p class="flow-text">We are a platform that seeks to provide a match-making service, to allow legal representatives and clients to find shared time and work together to answer questions and better understand cases.</p>
</section>
<section id="how-it-works" class="container scrollspy">
    <h2>How Does This Work?</h2>
    <p class="flow-text">
        This platform works a little differently depending on which side of the problem you are on.
    </p>
    <h4>If you are a <span class="blue-underline">Client</span>:</h4>
    <blockquote class="flow-text">
        You can log in and find open appointments that match your needs, based on some simple criteria, from a calendar view.
        Once you find an appointment you want, you can message the legal representative who posted that opening with a brief explanation of your situation and what you are looking for. If they want to take your case and help, you will match with them and then can proceed to finalize the details of that specific appointment.
        If you can't find an appointment that works for you, you can also post a brief description of your case on a public listing that any legal representative can see, and if a legal representative feels that they can help, then they will message you directly!
        <br>
        Using this service is completely free for clients!
    </blockquote>
    <h4>If you are a <span class="blue-underline">Legal Representative</span>:</h4>
    <blockquote class="flow-text">
        Once you create an account you can post your free time publicly as time-blocks on a calendar for clients to search through.
        You will receive messages from prospective clients looking to book your posted time-blocks, and you can choose a particular client to match with for that appointment time.
        You can also look through a public listing of cases that clients aren't sure what to do with.
        <br>
        Legal representatives seeking to provide pro-bono hours can use this service completely for free!
        Those wishing to post bookings with reduced hourly rates will be able to do so once they have committed a certain number of hours to the platform and paid a subscription fee.
    </blockquote>
    <p class="flow-text">Every user can be rated by the opposite parties: clients can rate legal representatives based on how well they feel their needs were addressed; legal reps can rate clients based on a series of categories, such as whether they showed up to an appointment or how respectable they acted.</p>
</section>
<section id="mission" class="container scrollspy">
  <h2>Our Mission</h2>
  <p class="flow-text">We want to connect clients seeking legal representation with lawyers who want to fill the free hours in their days. People all over British Columbia are in need of competent, affordable legal representation. Many lawyers find that they have hours throughout their day that open up, that could be used for helping others. It's time we bridged the gap, and connected the people who need help with the people who are ready to help.</p>
</section>

<footer id="contact" class="scrollspy">
  <div class="row">
    <h6 class="col s4">Contact us!</h6>
    <address class="col s4">
      Justice Hack BC<br/>
      SFU Venture Labs<br/>
      Suite #1200<br/>
      555 West Hastings Street<br/>
      Vancouver, BC<br/>
      Canada V6B 4N6<br/>
    </address>
    <address class="col s4">
      Phone: 555-555-5555<br/>
      Email: <a href="mailto:mail@example.com">mail@example.com</a><br/>
    </address>
  </div>
  <div class="copyright">Copyright SeekLegal&copy;, 2018.</div>
</footer>
