<navbar></navbar>
<main-hero></main-hero>
<section id="mission" class="container">
  <h2>Our Mission</h2>
  <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis distinctio error expedita fuga fugiat ipsa ipsum maxime minus nemo nostrum omnis, porro praesentium similique. Assumenda consequuntur cum eos odio sapiente?</p>
</section>
<section id="about" class="container">
  <h2>Who We Are</h2>
  <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque culpa ipsam itaque, iusto nesciunt nobis quas unde veniam voluptates. Blanditiis dolorum ex facilis magnam molestiae natus neque numquam repellendus?</p>
</section>
<footer id="contact">
  <div class="row">
    <h6 class="col s4">Contact us!</h6>
    <address class="col s4">
      Justice Hack BC<br/>
      SFU Venture Labs<br/>
      Suite #1200<br/>
      555 West Hastings Street<br/>
      Vancouver, BC<br/>
      Canada V6B 4N6<br/>
    </address>
    <address class="col s4">
      Phone: 555-555-5555<br/>
      Email: <a href="mailto:mail@example.com">mail@example.com</a><br/>
    </address>
  </div>
  <div class="copyright">Copyright &lt;us&gt;, 2018.</div>
</footer>
