<main>
    <section class="row">
        <ng-template #loader>
            <div class="loader">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="gap-patch"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="gap-patch"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="gap-patch"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="gap-patch"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                </div>
                <p class="flow-text">Loading...</p>
            </div>
        </ng-template>

        <header class="row center-align equal-column-sizes">
            <div class="col l4 m4 s12 flex-center">
                <ul class="pagination">
                    <li class="waves-effect" [class.disabled]="!canGoBackwards()">
                        <a mwlCalendarPreviousView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="activeDayIsOpen = false; fetchEvents()">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    <li class="active waves-effect">
                        <a mwlCalendarToday
                           [(viewDate)]="viewDate">
                            TODAY
                        </a>
                    </li>
                    <li class="waves-effect">
                        <a mwlCalendarNextView
                           [view]="view"
                           [(viewDate)]="viewDate"
                           (viewDateChange)="activeDayIsOpen = false; fetchEvents()">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col l4 m4 s12 flex-center">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col l4 m4 s12 flex-center">
                <ul class="tabs tabs-fixed-width z-depth-1">
                    <li class="tab"><a href="#monthView">Month</a></li>
                    <li class="tab"><a href="#weekView">Week</a></li>
                    <li class="tab"><a href="#dayView">Day</a></li>
                </ul>
            </div>
        </header>
        <div *ngIf="(events$ | async) as events; else loader">
            {{ _initTabs(events) }}
            <mwl-calendar-month-view id="monthView"
                                     [activeDayIsOpen]="activeDayIsOpen"
                                     [events]="events"
                                     [viewDate]="viewDate"
                                     (dayClicked)="dayClicked($event.day)"
                                     (eventClicked)="eventClicked($event.event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view id="weekView"
                                    [events]="events"
                                    [viewDate]="viewDate"
                                    (eventClicked)="eventClicked($event.event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view id="dayView"
                                   [events]="events"
                                   [viewDate]="viewDate"
                                   (eventClicked)="eventClicked($event.event)">
            </mwl-calendar-day-view>
        </div>
    </section>
    <section class="row">
        <!-- feed goes here -->
    </section>
</main>
<ul id="options-menu" class="sidenav sidenav-fixed right-aligned">
    <li><a href="#">First Sidebar Link</a></li>
    <li><a href="#">Second Sidebar Link</a></li>
</ul>
<a href="#" data-target="options-menu" class="sidenav-trigger hide-on-large-only hide-on-extra-large-only"><i class="material-icons">menu</i></a>

<calendar-event-popup></calendar-event-popup>