<div class="container row fullscreen">
  <div class="calendar col s12 m10"></div>
  <div class="feed col s12 m2"></div>
</div>
<mz-modal #modal [fullscreen]="true">
  <mz-modal-header>
    <h4>Calendar and Feed</h4>
  </mz-modal-header>
  <mz-modal-content>
    <h6>Calendar</h6>
    <p class="flow-text">Both the lawyers and clients will have access to a view of the calendar, where lawyers will have the ability to post their times, and clients will be able to select time slots that work for them.</p>
    <p class="flow-text">Additionally, clients will have the ability to apply some filters, such as price range, availability, or general location.</p>
    <h6>Feed</h6>
    <p class="flow-text">Clients will have two methods by which they can post their cases: they will either click on a specific time slot and directly message a lawyer about the details of their case, or they can choose to post their case on a 'board' that any lawyer can see.</p>
    <p class="flow-text">Lawyers will have a dashboard showcasing their current cases, as well as a feed that will show them any messages sent regarding their time slots.</p>
  </mz-modal-content>
</mz-modal>
