<form class="container" [formGroup]="searchForm" (ngSubmit)="search()">
  <h2 i18n="clients">Clients</h2>
  <h4 i18n>Need legal help? We can find you a legal professional to speak with you, and it's as simple as filling out these three fields:</h4>
  <div class="row pad-bot">
    <div class="input-field col s12 m4 dropdown-sigil">
      <label>Province
        <select formControlName="province">
          <option value="ca_AB">Alberta</option>
          <option value="ca_BC">British Columbia</option>
          <option value="ca_MB">Manitoba</option>
          <option value="ca_NB">New Brunswick</option>
          <option value="ca_NL">Newfoundland and Labrador</option>
          <option value="ca_NS">Nova Scotia</option>
          <option value="ca_ON">Ontario</option>
          <option value="ca_PE">Prince Edward Island</option>
          <option value="ca_QC">Quebec</option>
          <option value="ca_SK">Saskatchewan</option>
          <option value="ca_NT">Northwest Territories</option>
          <option value="ca_NU">Nunavut</option>
          <option value="ca_YT">Yukon</option>
        </select>
      </label>
    </div>
    <div class="input-field col s12 m4 dropdown-sigil">
      <label>Area of Law
        <select formControlName="areaOfLaw">
          <option value="admiralty">Admiralty (Maritime)</option>
          <option value="bankruptcy">Bankruptcy</option>
          <option value="corporate">Business (Corporate)</option>
          <option value="civil_rights">Civil Rights</option>
          <option value="criminal">Criminal</option>
          <option value="entertainment">Entertainment</option>
          <option value="environmental">Environmental</option>
          <option value="family">Family</option>
          <option value="health">Health</option>
          <option value="immigration">Immigration</option>
          <option value="ip">Intellectual Property</option>
          <option value="intl">International</option>
          <option value="labour">Labor (Employment)</option>
          <option value="military">Military</option>
          <option value="personal_injury">Personal Injury</option>
          <option value="real_estate">Real Estate</option>
          <option value="tax">Tax</option>
          <option value="other">Other / Not Sure</option>
        </select>
      </label>
    </div>
    <div class="input-field col s12 m4 flex-center">
      <div class="switch flex-center">
        <label>
          Local
          <input type="checkbox" formControlName="remote">
          <span class="lever"></span>
          Remote
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m2 offset-m5 flex-center">
      <button class="waves-effect waves-light btn-large" type="submit">Search</button>
    </div>
  </div>
</form>
