<main class="container">
  <h2 i18n="clients">Clients</h2>
  <h4 i18n>Need legal help? We can find you a legal professional to speak with you.</h4>
  <br/>
  <div class="row pad-bot">
    <div class="input-field col s12 m4">
      <select>
        <option value="AB">Alberta</option>
        <option value="BC">British Columbia</option>
        <option value="MB">Manitoba</option>
        <option value="NB">New Brunswick</option>
        <option value="NL">Newfoundland and Labrador</option>
        <option value="NS">Nova Scotia</option>
        <option value="ON">Ontario</option>
        <option value="PE">Prince Edward Island</option>
        <option value="QC">Quebec</option>
        <option value="SK">Saskatchewan</option>
        <option value="NT">Northwest Territories</option>
        <option value="NU">Nunavut</option>
        <option value="YT">Yukon</option>
      </select>
      <label>Province</label>
    </div>
    <div class="input-field col s12 m4">
      <select>
        <option value="">Admiralty (Maritime)</option>
        <option value="">Bankruptcy</option>
        <option value="">Business (Corporate)</option>
        <option value="">Civil Rights</option>
        <option value="">Criminal</option>
        <option value="">Entertainment</option>
        <option value="">Environmental</option>
        <option value="">Family</option>
        <option value="">Health</option>
        <option value="">Immigration</option>
        <option value="">Intellectual Property</option>
        <option value="">International</option>
        <option value="">Labor (Employment)</option>
        <option value="">Military</option>
        <option value="">Personal Injury</option>
        <option value="">Real Estate</option>
        <option value="">Tax</option>
      </select>
      <label>Area of Law</label>
    </div>
    <div class="input-field col s12 m4">
      <mz-switch-container class="flex-center">
        <input mz-switch
               id="local-remote-switch"
          [off]="'Local'"
          [on]="'Remote'"
               type="checkbox">
      </mz-switch-container>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m2 offset-m5">
      <a [routerLink]="'/dashboard'" mz-button [large]="true" i18n="search">Search</a>
    </div>
  </div>
</main>
