@import '~src/styles/styles.scss';

h2 {
  margin-top: 0;
}
h4 {
  padding-bottom: 10vh;
}

.pad-bot {
  margin-bottom: 10vh;
}
.switch > label {
  font-size: 16px;
}

@media #{$small-and-down} {
  h2 { margin-top: 1.45rem; }
}
@media #{$medium-and-up} {
  .row {
    align-content: center;
    display: flex;
  }
}
